*{
  margin:0;
}

html,body{
  height:100%;
  width:100%;
}

body{
  font-size:15px;
  background-color:darkorange;
  background-image: url(htmlcss1-img_bicycles.jpeg);
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
  background-position:center bottom;
  display:block;
}

.header{
  background-color:#ffff00;
  font-family:arial;
  text-align:center;
  word-spacing:10px;
  line-height:50px;
  padding:25px;
  border:6px dashed black;
}

.body{
  background-color:white;
  font-family:serif;
  line-height:25px;
  margin:50px;
  padding:50px;
  border:2px solid black;
  box-sizing:border-box;
}

.comment{
  display:fixed;
  color:#cc0000;
  background:-webkit-linear-gradient(yellow,lightgreen);
  font-style:normal;
  font-family:courier;
  line-height:200%;
  float:right;
  width:30%;
  padding:50px;
  border-left:10px solid black;
  border-top-left-radius:3em;
  border-bottom-left-radius:3em;
}

h1{
  color:#cc0000;
  font-size:35px;
  font-weight:700;
  text-transform:uppercase;
}

h2{
  color:#cc0000;
  font-size:25px;
  font-weight:700;
  font-style:italic;
  text-transform:uppercase;
}

h3{
  color:#cc0000;
  font-weight:900;
  font-size:21px;
  text-transform:capitalize;
}

p{
  font-weight:bold;
}

td:nth-child(2){
  text-align: center;
  font-size:25px;
  color:#cc0000;
}

#photo{
  width: 300px;
  height: 300px;
  display:block;
  margin:0 auto;
  border: 2px solid black;
  border-radius: 500em;
}
