*{
  margin:0;
}

html,body{
  height:100%;
  width:100%;
  font-family:"Arial",Courier,serif;
}

body{
  font-size:15px;
  background-color:darkorange;
}

.body{
  background-color:white;
  line-height:25px;
  margin-top:20px;
  margin-bottom:20px;
}

h1{
  color:#cc0000;
  font-size:35px;
  font-weight:900;
  line-height:45px;
  margin-top:20px;
  text-transform:uppercase;
}


h2{
  color:#cc0000;
  font-size:25px;
  font-weight:900;
  font-style:italic;
  line-height:45px;
  margin-bottom:20px;
  text-transform:uppercase;
}

.header{
  background-color:#ffff00;
  text-align:center;
  word-spacing:10px;
  font-weight:900;
  line-height:200%;
}

.comment{
  display:fixed;
  color:#cc0000;
  background-color: #ffe6e6;
  font-style:normal;
  line-height:200%;
}

h3{
  color:#cc0000;
  font-weight:900;
  font-size:21px;
  text-align:center;
  text-transform:capitalize;
}

p{
  font-weight:bold;
}
